*{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    margin: 0%;
    padding: 0%;
}
#Return{
    display:flex ;
    justify-content: center;
}
#FirstButton{
    background-color: rgb(36, 55, 99);
}

.modal.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
}

.ConteinerInputLogin {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5vw;
}

.ConteinerOptionsLogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}
#ConteinerForgottenPassword{
    display: flex;
    flex-direction: row;
}
#CloseLoginButton{
    background-color: rgb(232, 14, 14);
    padding: 10px;
    border-radius: 15px;
    border-color: rgba(204, 8, 8, 0.845);
}
#ReadyLoginButton{
    background-color: rgb(255, 110, 49);
    padding: 10px;
    border-radius: 15px;
    border-color:rgb(255, 110, 49); ;
}

 .navbar1 {
     display: flex;
     justify-content: space-between !important;
     background-color: rgb(187, 187, 253);
     width: 100%;
    
   
 }

 .pre-navbar {
     display: flex;
     justify-content: center;
     background-color: black;
     color: antiquewhite;
     align-items: center;
     padding: 5px;
 
 }

 .pre-navbar h2 {
     margin-right: 40px;
     text-align: center;
     font-size: 20px;
     margin-bottom: 0;

 }

 .button-nav {
     margin: 0 !important;
     padding: 0 !important;
     background: none !important;
     border: none !important;
     color: rgb(242, 239, 238);
 }



 .container-search-icons {

     flex-direction: row-reverse;
     justify-content: space-between !important;
 }



 .input-search {
     border: none;
     outline: none;
     border-radius: 10px;
     height: 35px;
     width: 250px;
     padding-left: 10px;
     padding-right: 36px;

 }

 .button-search {
     position: absolute;
     right: 0;
     padding-right: 5px;
     border: none;
     outline: none;
     background: none;
 }

 .logo-img {
     width: 100%;
     height: 100px;
 }

 .logo-navbar {
     display: flex;
     align-items: center;
 }
.link-icons{
    text-decoration: none !important;
}
.icon:hover{
    color: #fff;
    
    
}


 @media (max-width: 992px) {
     .icons-hamburguer {
         display: flex;
         flex-direction: row !important;
         justify-content: space-evenly !important;
     }
 }

 @media (max-width: 620px) {
     .pre-navbar {
         display: none;
     }
 }